.alerts-list-container {
    margin-top: 10px;
}

.no-alerts {
    text-align: center;
}

.alerts-list {
    display: flex;
    flex-flow: column;
}

.alerts-list.in-progress {
    flex-flow: row wrap;
    margin: -7px;
}

    .alerts-list.in-progress > vw-alert-card {
        flex: 1 0 auto;
        margin: 7px;
    }

vw-alert-card {
    margin-bottom: 15px;
}