<div>
    <vw-loader [loading]="isLoading"></vw-loader>
    <vw-error-message [message]="errorMessage"></vw-error-message>
    <div *ngIf="!isLoading && !errorMessage">
        <div class="alert-header">
            <div class="alert-header-content">
                <div class="side-img" [ngClass]="{'indar': activeEvent.zoneId == 2, 'hossin': activeEvent.zoneId == 4, 'amerish': activeEvent.zoneId == 6, 'esamir': activeEvent.zoneId == 8, 'oshur': activeEvent.zoneId == 344}"></div>
                <div class="card-info">
                    <mat-card class="card-info">
                        <mat-card-title>
                            <div class="title">
                                <div class="date-info">
                                    <div>{{activeEvent.startDate | date:'MMM d, y h:mm:ss a'}}</div>
                                    <small *ngIf="isActive(activeEvent)" class="remaining-timer">
                                        <vw-countdown [end]="getEndDate(activeEvent)"></vw-countdown> Remaining
                                    </small>
                                    <div class="duration">Duration: {{(getEndDate(activeEvent).getTime() - activeEvent.startDate.getTime()) / 60000 | number:'.0-0'}} Minutes</div>
                                </div>
                                <div class="event-name">
                                    <h1>{{activeEvent.metagameEvent?.name}}</h1>
                                    <small>{{activeEvent.worldId | worldName}} <mat-icon fontSet="mdi" class="location-spacer" fontIcon="mdi-chevron-double-right"></mat-icon> {{activeEvent.zoneId | zoneName}}</small>
                                </div>
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle>{{activeEvent.metagameEvent?.description}}</mat-card-subtitle>
                        <mat-card-content>
                            <vw-faction-bar [vs]="activeEvent.lastFactionVS" [nc]="activeEvent.lastFactionNC" [tr]="activeEvent.lastFactionTR" [neutural]="isNeuturalMetagame(activeEvent)"></vw-faction-bar>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <vw-tab-nav-sub-bar [links]="navLinks"></vw-tab-nav-sub-bar>
        </div>
    </div>
    <router-outlet *ngIf="!isLoading && !errorMessage"></router-outlet>
</div>
