.player-col {
    min-width: 350px;
    text-decoration: none;
    display: inline-block;
}

.online-players {
    margin-top: 25px;
}

.header-row {
    margin-bottom: 3px;
    font-weight: bold;
    background: #19282F;
}

.online-players {
    max-width: 600px;
}

.player-row {
    padding: 1px;
    background: #1b2831;
}

.player-row:nth-child(odd) {
    background: #14212a;
}

.player-totals {
    margin-bottom: 25px;
}

.total-row {
    font-weight: bold;
}

.total-label {
    display: inline-block;
    min-width: 160px;
}