<mat-card>
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <vw-loader [loading]="isLoading"></vw-loader>
    @if (resetSuccess) {
      <div>
        <h3>Password Reset Successfully!</h3>
      </div>
    }
    @if (!resetSuccess) {
      <div [hidden]="isLoading">
        @if (errorMessage) {
          <div class="error-text">{{errorMessage}}</div>
        }
        <br />
        @if (securityQuestions == null && resetToken == null) {
          <form (ngSubmit)="onSubmitResetStart(passwordResetStartForm)" #passwordResetStartForm="ngForm">
            <mat-form-field>
              <input matInput type="text" placeholder="Email" name="email" ngModel required>
            </mat-form-field>
            <br />
            <button mat-raised-button type="submit">Continue</button>
          </form>
        }
        @if (securityQuestions != null) {
          <form (ngSubmit)="onSubmitResetPasswordQuestions()">
            @for (question of securityQuestions; track question) {
              <div>
                <div>{{question.question}}</div>
                <mat-form-field>
                  <input matInput type="text" placeholder="Answer" [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
              </div>
            }
            <br />
            <button mat-raised-button type="submit">Continue</button>
          </form>
        }
        @if (resetToken != null) {
          <form (ngSubmit)="onSubmitChangePassword(passwordChangeForm)" #passwordChangeForm="ngForm">
            <input type="hidden" name="username" [value]="userEmail">
            <mat-form-field>
              <input matInput type="password" placeholder="New password" name="newPassword" ngModel required>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input matInput type="password" placeholder="Confirm new password" name="confirmPassword" required>
            </mat-form-field>
            <br />
            <button mat-raised-button type="submit">Submit</button>
          </form>
        }
      </div>
    }
  </mat-card-content>
</mat-card>