:host {
    display: block;
    overflow-x: auto;
}

mat-table {
    min-width: 1100px;
    overflow-x: auto;
}

.mat-column-name,
.auraxium-meter-back {
    min-width: 160px;
}

.auraxium-meter-back {
    height: 3px;
    background: #797979;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.auraxium-meter-fore {
    background: #4c1f66;
    height: 100%;
}

.mat-column-name {
    text-align: left;
}

.mat-column-name a {
    text-decoration: none;
    color: inherit;
}

.mat-mdc-table .mat-mdc-row {
    min-height: 25px;
}

.mat-mdc-table .mat-mdc-row .mat-mdc-cell {
    font-size: 12.8px;
}
