<mat-table #table [dataSource]="dataSource" class="striped" matSort>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <div class="weapon-name">
                <a routerLink="/ps2/item/{{item.itemId}}">{{item?.name || "Unknown (" + item.itemId +")"}}</a>
                <div class="auraxium-meter-back">
                    <div class="auraxium-meter-fore" [style.width]="getPercentToAurax(item.stats.kills)"></div>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kills">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Kills</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.kills | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vehicleKills">
        <mat-header-cell *matHeaderCellDef mat-sort-header>V.Kills</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.vehicleKills | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deaths">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Deaths</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.deaths | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kdr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>K/D Ratio</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.kills / item.stats.deaths | number: '.2-2'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kdrDelta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Δ</mat-header-cell>
        <mat-cell *matCellDef="let item"><vw-grade [delta]="item.stats.killDeathRatioDelta"></vw-grade></mat-cell>
    </ng-container>

    <ng-container matColumnDef="accuracy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Accuracy</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.hitCount / item.stats.fireCount * 100 | number: '.1-1'}}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="accuracyDelta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Δ</mat-header-cell>
        <mat-cell *matCellDef="let item"><vw-grade [delta]="item.stats.accuracyDelta"></vw-grade></mat-cell>
    </ng-container>

    <ng-container matColumnDef="hsr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>HSR</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.headshots / item.stats.kills * 100 | number: '.1-1'}}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hsrDelta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Δ</mat-header-cell>
        <mat-cell *matCellDef="let item"><vw-grade [delta]="item.stats.hsrDelta"></vw-grade></mat-cell>
    </ng-container>

    <ng-container matColumnDef="kph">
        <mat-header-cell *matHeaderCellDef mat-sort-header>KPH</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.kills / (item.stats.playTime / 3600) | number: '.1-1'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kphDelta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Δ</mat-header-cell>
        <mat-cell *matCellDef="let item"><vw-grade [delta]="item.stats.kphDelta"></vw-grade></mat-cell>
    </ng-container>

    <ng-container matColumnDef="vehicleKph">
        <mat-header-cell *matHeaderCellDef mat-sort-header>V.KPH</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.vehicleKills / (item.stats.playTime / 3600) | number: '.1-1'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vehicleKphDelta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Δ</mat-header-cell>
        <mat-cell *matCellDef="let item"><vw-grade [delta]="item.stats.vehicleKphDelta"></vw-grade></mat-cell>
    </ng-container>

    <ng-container matColumnDef="spm">
        <mat-header-cell *matHeaderCellDef mat-sort-header>SPM</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.score / (item.stats.playTime / 60) | number: '.0-0'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.playTime / 3600 | number: '.1-1'}}h</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lpk">
        <mat-header-cell *matHeaderCellDef mat-sort-header>LPK</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.hitCount / item.stats.kills | number: '.1-1'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="spk">
        <mat-header-cell *matHeaderCellDef mat-sort-header>SPK</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.stats.fireCount / item.stats.kills | number: '.1-1'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name','kills','vehicleKills','deaths','kdr','kdrDelta','accuracy','accuracyDelta','hsr','hsrDelta','kph','kphDelta','vehicleKph','vehicleKphDelta','spm','time','lpk','spk']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name','kills','vehicleKills','deaths','kdr','kdrDelta','accuracy','accuracyDelta','hsr','hsrDelta','kph','kphDelta','vehicleKph','vehicleKphDelta','spm','time','lpk','spk'];"></mat-row>
</mat-table>