<div class="search" [ngClass]="{'focus': searchService.searchFocused || searchService.control.dirty}">
    <div class="top-search-container" #searchContainer>
        <button mat-icon-button *ngIf="searchService.control.dirty" class="top-search_clear" (click)="searchService.clearSearch()">
            <mat-icon fontSet="mdi" fontIcon="mdi-close"></mat-icon>
        </button>
        <i class="top-search_reset" [ngClass]="{'loading': searchService.isSearching}"></i>
        <mat-select class="top-search_dropdown"
            [formControl]="searchService.categoryControl"
            (openedChange)="searchService.dropdownToggled($event)"
            panelClass="top-search_dropdown">
            <mat-option value="character">Player</mat-option>
            <mat-option value="outfit">Outfit</mat-option>
            <mat-option value="item">Weapon</mat-option>
        </mat-select>
        <div class="top-search_input-container">
            <input class="top-search_input"
                #searchInput
                type="text"
                matInput
                [matAutocomplete]="auto"
                [formControl]="searchService.control"
                [placeholder]="searchService.placeholder">
        </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of searchService.results" class="search-option" [value]="result.name" (click)="searchService.onClickResultEmitter.emit(result)">
            <div class="item-title">
                <span *ngIf="result.alias">[{{result.alias}}]</span>
                <span>{{result.name}}</span>
                <div class="pull-right">
                    <strong *ngIf="result.worldId">{{result.worldId | worldName}}</strong>
                    <strong>{{result.category}}</strong>
                </div>
                <div class="pull-left">
                    <mat-icon *ngIf="result.type === 'character'" fontSet="mdi" fontIcon="mdi-account" [ngClass]="result.factionId | factionColor"></mat-icon>
                    <mat-icon *ngIf="result.type === 'item'" fontSet="mdi" fontIcon="mdi-target" [ngClass]="result.factionId | factionColor"></mat-icon>
                    <mat-icon *ngIf="result.type === 'outfit'" fontSet="mdi" fontIcon="mdi-account-multiple" [ngClass]="result.factionId | factionColor"></mat-icon>
                </div>
            </div>
            <div class="item-metadata">
                <div *ngIf="result.type === 'character'">
                    <span>Battle rank <strong>{{result.battleRank}}</strong></span>
                </div>
                <div *ngIf="result.type === 'outfit'">
                    <span><strong>{{result.memberCount}}</strong> members</span>
                </div>
            </div>
        </mat-option>
    </mat-autocomplete>
</div>