.search.focus .top-search-container {
    background: #edeff0;
}

.top-search-container {
    background: #2b3942;

    transition: all;
    transition-duration: 0.3s;
}

.top-search_input,
.top-search_dropdown,
.top-search_reset {
    background: none;
}

.search.focus .top-search_reset {
    color: #edeff0;
}

    .search.focus .top-search_reset:before {
        transform: scale(0) rotate(180deg);
    }

    .search.focus .top-search_reset:after {
        transform: scale(1) rotate(0);
    }

.top-search_input-container {
    margin-left: 150px;
}

.top-search_input {
    border: 0;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 0 2px 2px 0;
    width: 100%;
    font-size: 15px;
    color: #22313a;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}

    .top-search_input:-moz-placeholder {
        color: #b4bfc3;
        opacity: 1;
    }

    .top-search_input:-ms-input-placeholder {
        color: #b4bfc3;
    }

    .top-search_input::-webkit-input-placeholder {
        color: #b4bfc3;
    }

.search.focus .top-search_input:-moz-placeholder {
    color: #22313a;
    opacity: 1;
}

.search.focus .top-search_input:-ms-input-placeholder {
    color: #22313a;
}

.search.focus .top-search_input::-webkit-input-placeholder {
    color: #22313a;
}

.top-search_reset {
    font-size: 20px;
    color: #b4bfc3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: block;
    font-family: "Material Design Icons";
    font-size: 24px;
    line-height: 1;
    font-style: normal;
    text-rendering: auto;
    float: left;
    border-radius: 2px 0 0 2px;
    -webkit-font-smoothing: antialiased;
}

    .top-search_reset:before, .top-search_reset:after {
        position: absolute;
        left: 13px;
        top: 14px;

        transition: all;
        transition-duration: 0.3s;
    }

    .top-search_reset:before {
        content: "\F349";
    }

    .top-search_reset:after {
        transform: scale(0) rotate(-180deg);
        color: #22313a;
        content: "\F04D";
    }

    .top-search_reset.loading:after {
        animation: spin 0.5s infinite linear;
        content: "\F771";
    }

.top-search_clear {
    position: absolute;
    right: 0;
    line-height: 50px;
    font-size: 20px;
    width: 50px;
    color: #22313a;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.top-search_dropdown {
    border: 0;
    height: 50px;
    padding: 15px 0 15px 0;
    border-radius: 0;
    width: 100px;
    font-size: 15px;
    color: #22313a;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    float: left;
    text-align: center;
    font-weight: bold;
}

.top-search_dropdown ::ng-deep .mat-select-arrow-wrapper {
    visibility: hidden;
}

.top-search_dropdown ::ng-deep .mat-select-value-text {
    color: #b4bfc3;
}

.search.focus .top-search_dropdown ::ng-deep .mat-select-value-text {
    color: #22313a;
}