<div>
    <div class="tab-nav-bar-background">
        <nav mat-tab-nav-bar class="content-container">
            <mat-form-field floatPlaceholder="never" class="search-box pull-right">
                <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="searchControl">
                <button mat-button *ngIf="searchControl.dirty" matSuffix mat-icon-button (click)="clearSearch()">
                    <mat-icon fontSet="mdi" fontIcon="mdi-close"></mat-icon>
                </button>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let result of results" class="search-option" [value]="result.name" (click)="onClickSearchResult(result)">
                        <div class="item-title">
                            <div class="pull-right">
                                <strong *ngIf="result.worldId">{{result.worldId | worldName}}</strong>
                                <strong>{{result.category}}</strong>
                            </div>
                            <mat-icon *ngIf="result.type === 'character'" fontSet="mdi" fontIcon="mdi-account" [ngClass]="result.factionId | factionColor"></mat-icon>
                            <mat-icon *ngIf="result.type === 'item'" fontSet="mdi" fontIcon="mdi-target" [ngClass]="result.factionId | factionColor"></mat-icon>
                            <mat-icon *ngIf="result.type === 'outfit'" fontSet="mdi" fontIcon="mdi-account-multiple" [ngClass]="result.factionId | factionColor"></mat-icon>
                            <span *ngIf="result.alias">[{{result.alias}}]</span>
                            <span>{{result.name}}</span>
                        </div>
                        <div class="item-metadata">
                            <div *ngIf="result.type === 'character'">
                                <span>Battle rank <strong>{{result.battleRank}}</strong></span>
                            </div>
                            <div *ngIf="result.type === 'outfit'">
                                <span><strong>{{result.memberCount}}</strong> members</span>
                            </div>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a mat-tab-link
               *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>