:host {
    display: block;
    position: relative;
}

:host ::ng-deep .mat-tab-label {
    height: 130px;
    opacity: 1;
    flex: 1;
    padding: 0;
    min-width: 0;
}

:host ::ng-deep .mat-tab-label.mat-tab-label-active .directive-tier-header > img {
    transform: scale(1.2);
    filter: grayscale(0);
}
:host ::ng-deep .mat-tab-label:not(.mat-tab-label-active) .directive-tier-header-name {
    visibility: hidden;
}

:host ::ng-deep .mat-tab-list .mat-ink-bar {
    display: none !important;
}

.directive-tier-header > img {
    height: 96px;
    width: 96px;

    transform: scale(0.9);
    filter: grayscale(50%);

    transition: transform 500ms ease-in-out, filter 500ms linear;
}

.mat-tab-tier-progress {
    position: absolute;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12.5%;
}

.mat-tab-tier-progress .mat-tab-tier {
    display: inline-flex;
    border-top: dashed 1px #1b557f;
    margin-top: 23px;
    position: relative;
    flex: 1;
}

.mat-tab-tier-progress .mat-tab-tier .mat-tab-tier-completion {
    border-top: dotted 2px #4d97cc;
}

.mat-tab-tier-progress .mat-tab-tier .mat-tab-tier-completion-text {
    position: absolute;
    color: #97c2e0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 830px) {
    .mat-tab-tier-progress {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    :host ::ng-deep .mat-tab-label {
        height: 48px;
        min-width: 100px;
        flex: none;
        opacity: 0.6;
    }

    :host ::ng-deep .mat-tab-label:not(.mat-tab-label-active) .directive-tier-header-name {
        visibility: visible;
    }

    :host ::ng-deep .mat-tab-label .directive-tier-header > img {
        display: none;
    }
}