.item-leaderboard {
    overflow: hidden;
}

.mat-table {
    max-height: 800px;
    overflow: auto;
}

.mat-table .mat-row {
    min-height: 25px;
}

.mat-table .mat-row .mat-cell {
    font-size: 11.2px;
}

.character-name a {
    text-decoration: none;
    color: #fff;
}

.mat-column-idx {
    max-width: 45px;
}

.mat-column-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mat-column-kills,
.mat-column-vehicleKills,
.mat-column-deaths,
.mat-column-kdr,
.mat-column-kdrDelta,
.mat-column-aga,
.mat-column-accuracy,
.mat-column-accuracyDelta,
.mat-column-hsr,
.mat-column-hsrDelta,
.mat-column-kph,
.mat-column-kphDelta {
    max-width: 80px;
}
