.main-content {
    margin-top: 15px;
}
.weapon-info-card mat-card,
.weapon-description-card mat-card {
    padding: 15px;
}

.weapon-description-card {
    max-width: 380px;
    margin-right: 20px;
}
.weapon-description-card img {
    display: block;
    margin: 0 auto;
}
.weapon-description-card .item-description {
    margin-bottom: 20px;
}

.weapon-info-card {
    overflow: hidden;
}
.weapon-info-card .label {
    opacity: 0.8;
    width: 130px;
    display: inline-block;
}
.info-row {
    padding: 8px;
}