.vw-tab-nav-sub-bar {
    background: #2b3942;
    box-shadow: none;
    font-size: initial;
}

.vw-tab-nav-sub-bar .mat-tab-nav-bar .mat-tab-link {
    font-size: 0.8em;
    height: 36px;
    padding: 0 12px;
    min-width: 100px;
}

.vw-nav {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.vw-nav a {
    height: 36px;
    padding: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.4);
    min-width: 100px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: initial;
}

.vw-nav a.active {
    color: rgba(255, 255, 255, 0.9);
}