.mat-column-name,
.mat-column-name .mat-button,
.auraxium-meter-back {
    min-width: 160px;
}

.auraxium-meter-back {
    height: 3px;
    background: #797979;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.auraxium-meter-fore {
    background: #4c1f66;
    height: 100%;
}

.mat-column-name {
    text-align: left;
}

.mat-column-name a {
    text-decoration: none;
    color: inherit;
}

.mat-column-name .mat-button {
    padding-top: 5px;
    text-transform: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: left;
}

.mat-table .mat-row {
    min-height: 25px;
}

.mat-table .mat-row .mat-cell {
    font-size: 12.8px;
}
