<mat-card>
    <mat-card-title>
        <small class="pull-right">
            <span *ngIf="isAlertActive()">
                <vw-countdown [end]="getEndDate()"></vw-countdown>
            </span>
            <span *ngIf="!isAlertActive()">
                {{alert.startDate | date:'EEE dd MMM yyyy HH:mm'}}
            </span>
        </small>
        <h4>{{alert.worldId | worldName}}</h4>
    </mat-card-title>
    <mat-card-subtitle>
        {{alert.metagameEvent.description}}
    </mat-card-subtitle>
    <vw-faction-bar [vs]="alert.lastFactionVs" [nc]="alert.lastFactionNc" [tr]="alert.lastFactionTr"></vw-faction-bar>
    <a mat-button routerLink="{{alert.worldId}}/{{alert.metagameInstanceId}}" class="alert-link">
        <mat-icon fontSet="mdi" fontIcon="mdi-chevron-right"></mat-icon>
    </a>
</mat-card>