<div class="content-container">
    <vw-loader [loading]="isLoading"></vw-loader>
    <vw-error-message [message]="errorMessage"></vw-error-message>
    <div *ngIf="!isLoading && !errorMessage">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <mat-card>
                <mat-card-content class="client-form layout-padding">
                    <div class="form-title">
                        <mat-slide-toggle class="pull-right" formControlName="enabled">Enabled</mat-slide-toggle>
                        <span>{{client.clientId}}</span>
                    </div>
                    <div>
                        <label>Client Name</label>
                        <mat-form-field>
                            <input matInput formControlName="clientName">
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Allowed Grant Types</label>
                        <mat-selection-list>
                            <mat-list-option
                                checkboxPosition="before"
                                *ngFor="let grantType of form.controls['allowedGrantTypes'].controls"
                                [selected]="grantType.value.selected"
                                [disableRipple]="true">
                                    {{grantType.value.name}}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                    <br>
                    <mat-slide-toggle formControlName="allowAccessTokensViaBrowser">Allow access tokens via browser</mat-slide-toggle>
                    <br>
                    <div>
                        <label>Allowed Scopes</label>
                        <mat-list>
                            <mat-list-item *ngFor="let control of form.controls['allowedScopes'].controls">
                                <div matLine>
                                    <mat-icon (click)="removeFromControlList(control)" fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
                                    <span>{{control.value}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <mat-form-field>
                                <input matInput formControlName="scopeInput">
                            </mat-form-field>
                            <button mat-icon-button (click)="addScope(scopeInput)">
                                <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>
                        <label>Redirect Uris</label>
                        <mat-list>
                            <mat-list-item *ngFor="let control of form.controls['redirectUris'].controls">
                                <div matLine>
                                    <mat-icon (click)="removeFromControlList(control)" fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
                                    <span>{{control.value}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <mat-form-field>
                                <input matInput formControlName="redirectUriInput">
                            </mat-form-field>
                            <button mat-icon-button (click)="addRedirectUri(redirectUriInput)">
                                <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>-----------------------------------------------------------------------------------------------------</div>
                    <mat-slide-toggle formControlName="requireClientSecret">Require client secret</mat-slide-toggle>
                    <mat-slide-toggle formControlName="requirePkce">Require PKCE</mat-slide-toggle>
                    <mat-slide-toggle formControlName="allowPlainTextPkce">Allow plan text PKCE</mat-slide-toggle>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content class="client-form layout-padding">
                    <div>
                        <label>Post Logout Redirect Uris</label>
                        <mat-list>
                            <mat-list-item *ngFor="let control of form.controls['postLogoutRedirectUris'].controls">
                                <div matLine>
                                    <mat-icon (click)="removeFromControlList(control)" fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
                                    <span>{{control.value}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <mat-form-field>
                                <input matInput formControlName="postLogoutRedirectUriInput">
                            </mat-form-field>
                            <button mat-icon-button (click)="addPostLogoutRedirectUri(postLogoutRedirectUriInput)">
                                <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>
                        <label>Front Channel Logout Uri</label>
                        <mat-form-field>
                            <input matInput formControlName="frontChannelLogoutUri">
                        </mat-form-field>
                    </div>
                    <mat-slide-toggle formControlName="frontChannelLogoutSessionRequired">Front channel logout session required</mat-slide-toggle>
                    <div>
                        <label>Back Channel Logout Uri</label>
                        <mat-form-field>
                            <input matInput formControlName="backChannelLogoutUri">
                        </mat-form-field>
                    </div>
                    <mat-slide-toggle formControlName="backChannelLogoutSessionRequired">Back channel logout session required</mat-slide-toggle>
                    <div>-----------------------------------------------------------------------------------------------------</div>
                    <mat-slide-toggle formControlName="enableLocalLogin">Enable local login</mat-slide-toggle>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content class="client-form layout-padding">
                    <div>
                        <label>Identity Token Lifetime</label>
                        <mat-form-field>
                            <input matInput formControlName="identityTokenLifetime">
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Access Token Lifetime</label>
                        <mat-form-field>
                            <input matInput formControlName="accessTokenLifetime">
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Authorization Code Lifetime</label>
                        <mat-form-field>
                            <input matInput formControlName="authorizationCodeLifetime">
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Access Token Type</label>
                        <mat-form-field>
                            <mat-select formControlName="accessTokenType">
                                <mat-option value="0">Jwt</mat-option>
                                <mat-option value="1">Reference</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Allowed Cors Origins</label>
                        <mat-list>
                            <mat-list-item *ngFor="let control of form.controls['allowedCorsOrigins'].controls">
                                <div matLine>
                                    <mat-icon (click)="removeFromControlList(control)" fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
                                    <span>{{control.value}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <mat-form-field>
                                <input matInput formControlName="allowedCorsOriginsInput">
                            </mat-form-field>
                            <button mat-icon-button (click)="addAllowedCorsOrigins(allowedCorsOriginsInput)">
                                <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>-----------------------------------------------------------------------------------------------------</div>
                    <div>
                        <label>Absolute Refresh Token Lifetime</label>
                        <mat-form-field>
                            <input matInput formControlName="absoluteRefreshTokenLifetime">
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Sliding Refresh Token Lifetime</label>
                        <mat-form-field>
                            <input matInput formControlName="slidingRefreshTokenLifetime">
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Refresh Token Usage</label>
                        <mat-form-field>
                            <mat-select formControlName="refreshTokenUsage">
                                <mat-option value="0">Reuse</mat-option>
                                <mat-option value="1">One time only</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Refresh Token Expiration</label>
                        <mat-form-field>
                            <mat-select formControlName="refreshTokenExpiration">
                                <mat-option value="0">Sliding</mat-option>
                                <mat-option value="1">Absolute</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-slide-toggle formControlName="updateAccessTokenClaimsOnRefresh">Update access token claims on refresh</mat-slide-toggle>
                    <mat-slide-toggle formControlName="includeJwtId">Include jwt id</mat-slide-toggle>
                    <div>
                        <label>Claims</label>
                        <mat-list>
                            <mat-list-item *ngFor="let control of form.controls['claims'].controls">
                                <div matLine>
                                    <mat-icon (click)="removeFromControlList(control)" fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
                                    <span>{{control.value}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <mat-form-field>
                                <input matInput formControlName="claimsInput">
                            </mat-form-field>
                            <button mat-icon-button (click)="addClaim(claimsInput)">
                                <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-slide-toggle formControlName="alwaysSendClientClaims">Always send client claims</mat-slide-toggle>
                    <mat-slide-toggle formControlName="clientClaimsPrefix">Prefix client claims</mat-slide-toggle>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content class="client-form layout-padding">
                    <label>Client Secrets</label>
                    <div>
                        <mat-list>
                            <mat-list-item *ngFor="let control of form.controls['clientSecrets'].controls">
                                <div matLine>
                                    <mat-icon (click)="removeFromControlList(control)" fontSet="mdi" fontIcon="mdi-close-circle"></mat-icon>
                                    <span>{{control.value}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div>
                            <button mat-icon-button (click)="generateSecret()">
                                <mat-icon fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>