<div class="alert-card">
    <div class="side-img" [ngClass]="{'indar': alert.zoneId == 2, 'hossin': alert.zoneId == 4, 'amerish': alert.zoneId == 6, 'esamir': alert.zoneId == 8}"></div>
    <div class="card-info">
        <mat-card>
            <mat-card-title>
                <div class="title-container">
                    <div class="pull-right">
                        <div>
                            <span *ngIf="isAlertActive()">
                                <vw-countdown [end]="getEndDate()"></vw-countdown> Remaining
                            </span>
                            <span *ngIf="!isAlertActive()">
                                {{alert.startDate | date:'EEE dd MMM yyyy HH:mm'}}
                            </span>
                        </div>
                        <div class="duration">Duration: {{(alert.endDate.getTime() - alert.startDate.getTime()) / 60000 | number:'.0-0'}} Minutes</div>
                    </div>
                    <div class="pull-left" *ngIf="!focusEvent">
                        <div class="title-text">{{alert.worldId | worldName}}</div>
                        <div class="title-subtext">
                            <div>{{alert.metagameEvent.name}}</div>
                            <div>{{alert.zoneId | zoneName}}</div>
                        </div>
                    </div>
                    <div class="pull-left" *ngIf="focusEvent">
                        <div class="title-text">{{alert.metagameEvent.name}}</div>
                        <div class="title-subtext">
                            <div>{{alert.zoneId | zoneName}}</div>
                        </div>
                    </div>
                </div>
            </mat-card-title>
            <mat-card-subtitle>
                {{alert.metagameEvent?.description}}
            </mat-card-subtitle>
            <vw-faction-bar [vs]="alert.lastFactionVs" [nc]="alert.lastFactionNc" [tr]="alert.lastFactionTr" [neutural]="isNeuturalMetagame(alert)"></vw-faction-bar>
        </mat-card>
    </div>
    <a mat-button routerLink="/ps2/alerts/{{alert.worldId}}/{{alert.metagameInstanceId}}" class="card-link"></a>
</div>
