.alert-card {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    min-width: 400px;
}

.title-container {
    position: relative;
    overflow: hidden;
}

.card-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    padding-right: 15px;
    vertical-align: middle;
    z-index: 100;
}

.title-text {
    display: inline-block;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin-right: 10px;
}

.title-subtext {
    display: inline-block;
    min-width: 150px;
}

    .title-subtext div {
        line-height: 15px;
    }

.side-img {
    display: flex;
    flex: 0 0 auto;
    width: 160px;
    min-height: 160px;
    max-height: 315px;
}

    .side-img.amerish {
        background-image: url("/Amerish-160.jpg");
        background-position: center top;
    }

    .side-img.esamir {
        background-image: url("/Esamir-160.jpg");
        background-position: center top;
    }

    .side-img.hossin {
        background-image: url("/Hossin-160.jpg");
        background-position: center center;
    }

    .side-img.indar {
        background-image: url("/Indar-160.jpg");
        background-position: center center;
    }

@media screen and (max-width: 450px) {
    .side-img {
        display: none;
    }
}

.card-info {
    display: flex;
    flex: 1;
    position: relative;
}

    .card-info .mat-card {
        width: 100%;
    }

.duration {
    text-align: right;
}