:host {
    display: block;
    position: relative;
}

::ng-deep .vw-card-tooltip {
    position: absolute;
    color: #b4bfc3;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #1e2a31;
    z-index: 9999;
    border-radius: 2px;
    pointer-events: none;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.kdr-history-card {
    height: 100%;
}

#kdr-lines {
    height: 200px;
}

    #kdr-lines ::ng-deep .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
    }

    #kdr-lines ::ng-deep .svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #kdr-lines ::ng-deep .line {
        stroke: #757575;
        fill: none;
    }

    #kdr-lines ::ng-deep .area-fore {
        fill: #e9ebec;
        stroke: #e9ebec;
    }

    #kdr-lines ::ng-deep .area-back {
        fill: #1e2a31;
        stroke: #1e2a31;
    }

    #kdr-lines ::ng-deep .tt-focus {
        fill: transparent;
    }