.player-col {
    min-width: 350px;
    text-decoration: none;
    display: inline-block;
}

.online-players {
    margin-top: 25px;
}

.header-row {
    border-bottom-width: 1px;
    color: #b4bfc3;
    font-weight: 500;
}

.online-players {
    max-width: 600px;
}

.player-row {
    padding: 1px;
    background: #2b3942;
    border-bottom-color: rgba(255,255,255,.025);
}

    .player-row:nth-child(even) {
        background: rgba(255,255,255,.025);
    }

.player-totals {
    margin-bottom: 25px;
}

.total-row {
    font-weight: bold;
}

.total-label {
    display: inline-block;
    min-width: 160px;
}