<div class="content-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <mat-card-content class="layout-padding">
            <vw-loader [loading]="isLoading"></vw-loader>
            <div *ngIf="resetSuccess">
                <h3>Password Reset Successfully!</h3>
            </div>
            <div [hidden]="isLoading" *ngIf="!resetSuccess">
                <vw-error-message [message]="errorMessage"></vw-error-message>
                <br />
                <form *ngIf="securityQuestions == null && resetToken == null" (ngSubmit)="onSubmitResetStart(passwordResetStartForm)" #passwordResetStartForm="ngForm">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Email" name="email" ngModel required>
                    </mat-form-field>
                    <br />
                    <button mat-raised-button type="submit">Continue</button>
                </form>
                <form *ngIf="securityQuestions != null" (ngSubmit)="onSubmitResetPasswordQuestions()">
                    <div *ngFor="let question of securityQuestions">
                        <div>{{question.question}}</div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Answer" [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                    </div>
                    <br />
                    <button mat-raised-button type="submit">Continue</button>
                </form>
                <form *ngIf="resetToken != null" (ngSubmit)="onSubmitChangePassword(passwordChangeForm)" #passwordChangeForm="ngForm">
                    <input type="hidden" name="username" [value]="userEmail">

                    <mat-form-field>
                        <input matInput type="password" placeholder="New password" name="newPassword" ngModel required>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="password" placeholder="Confirm new password" name="confirmPassword" required>
                    </mat-form-field>
                    <br />
                    <button mat-raised-button type="submit">Submit</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>