<div class="content-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <vw-error-message [message]="errorMessage"></vw-error-message>
        <mat-card-content>
            <vw-loader [loading]="isLoading"></vw-loader>
            <mat-tab-group [hidden]="isLoading" *ngIf="!registrationSuccess" [selectedIndex]="selectedTabIndex">
                <mat-tab label="Basic Information">
                    <form (ngSubmit)="onSubmitInformation(registerForm)" #registerForm="ngForm">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Email" name="email" ngModel required>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="text" placeholder="Username" name="username" ngModel required>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" name="password" ngModel required>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="password" placeholder="Repeat password" name="repeatPassword" ngModel required>
                        </mat-form-field>
                        <br />
                        <button mat-button type="submit">Next</button>
                    </form>
                </mat-tab>
                <mat-tab label="Security Questions" [disabled]="!completedInfo">
                    <form (ngSubmit)="onSubmitQuestions(securityQuestionsForm)" #securityQuestionsForm="ngForm">
                        <div>
                            <mat-form-field>
                                <mat-select [ngModel]="selectedQuestion1" name="question0" required>
                                    <mat-option *ngFor="let question of securityQuestions | slice:0:8;" [value]="question">{{question}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <input matInput type="text" name="answer0" placeholder="Answer" ngModel required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select [ngModel]="selectedQuestion2" name="question1" required>
                                    <mat-option *ngFor="let question of securityQuestions | slice:9:16;" [value]="question">{{question}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <input matInput type="text" name="answer1" placeholder="Answer" ngModel required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select [ngModel]="selectedQuestion3" name="question2" required>
                                    <mat-option *ngFor="let question of securityQuestions | slice:17:24;" [value]="question">{{question}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <input matInput type="text" name="answer2" placeholder="Answer" ngModel required>
                            </mat-form-field>
                        </div>
                        <br />
                        <button mat-button type="submit">Complete</button>
                    </form>
                </mat-tab>
            </mat-tab-group>
            <div *ngIf="registrationSuccess">
                <div class="registration-success">
                    <h2>Welcome to Voidwell!</h2>
                    <h4>You may now login to access your account.</h4>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>