<div class="vw-navbar" [style.background]="header.background">
    <div class="content-container">
        <nav>
            <a mat-button routerLink="/">Voidwell</a>
            <a mat-button routerLink="/blog">Blog</a>
            <a mat-button routerLink="/ps2">Planetside 2</a>
            <div class="pull-right">
                <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="userMenu">{{userName}}</button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item routerLink="/account/settings">Settings</button>
                    <button *ngIf="hasRoles(['Administrator','SuperAdmin','Blog','Events'])" mat-menu-item routerLink="/admin">Admin</button>
                    <button mat-menu-item (click)="signOut()">Logout</button>
                </mat-menu>
                <button *ngIf="!isLoggedIn" mat-button (click)="signIn()">Login</button>
                <a *ngIf="!isLoggedIn" mat-button routerLink="/account/register">Register</a>
            </div>
        </nav>
    </div>
</div>