.zone-map {
    display: flex;
    flex-flow: row nowrap;
}

.map-container {
    display: flex;
    min-width: 800px;
    height: 600px;
}

.info-container {
    display: flex;
    vertical-align: top;
    flex-flow: column nowrap;
    width: 100%;
}

.info-container vw-faction-bar {
    height: 30px;
}

.info-container vw-faction-bar ::ng-deep .faction-bar {
    font-size: initial;
    height: 30px;
    line-height: 30px;
}

.map-log {
    font-size: 14px;
    padding: 10px;
    height: 535px;
    overflow-y: auto;
}
.map-log .timestamp {
    opacity: 0.8;
    margin-right: 5px;
}
.map-log .mat-icon {
    width: initial;
    margin-right: 5px;
}

.map-log .facility-name {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.map-log .faction-name {
    text-transform: uppercase;
}

.map-log .zone-event {
    margin-bottom: 3px;
}