.single-class,
.class-list {
    margin-top: 25px;
}

.kdr-block,
.name-block {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    height: 40px;
    margin: 0 0 0 1px;
}

.name-block small,
.kdr-block small {
    display: block;
    opacity: 0.5;
    font-size: 12px;
}

.mat-column-rank {
    opacity: 0.5;
    text-align: left;
    max-width: 60px;
}

.mat-column-name {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
}

@media screen and (max-width: 450px) {
    .mat-column-time {
        display: none;
    }
}

.goto-button {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-top: 5px;
}

.mat-column-gobutton {
    max-width: 30px;
}

.profile-data .label {
    min-width: 160px;
    display: inline-block;
}

.class-title img {
    display: block;
    margin-right: 10px;
}

.class-list .class-title img {
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.single-class .class-title {
    display: flex;
    opacity: 0.7;
}

    .single-class .class-title img {
        width: 64px;
        height: 64px;
    }

    .single-class .class-title .class-name {
        align-self: center;
    }