:host {
    display: block;
    position: relative;
}

.vw-siege {
    height: 100%;
}

.vw-siege #siege-gauge {
  margin-top: 15px;
  margin-bottom: -5px;
}

    .vw-siege #siege-gauge ::ng-deep g.arc {
        fill: steelblue;
    }

    .vw-siege #siege-gauge ::ng-deep g.pointer {
        fill: #e85116;
        stroke: #b64011;
    }

    .vw-siege #siege-gauge ::ng-deep g.label text {
        text-anchor: middle;
        font-size: 0.7em;
        fill: #8a9ba1;
    }

.vw-siege .gauge-icons {
  position: relative;
  height: 1.4em;
}

.vw-siege .sword-icon,
.vw-siege .shield-icon,
.vw-siege .siege-level {
  position: absolute;
  font-size: 1.4em;
  color: #b4bfc3;
}
.vw-siege .shield-icon {
  left: 24px;
}
.vw-siege .sword-icon {
  right: 24px;
}
.vw-siege .siege-level {
  left: 0;
  right: 0;
  text-align: center;
}

.gauge-container {
    width: 206px;
    text-align: center;
    margin: 0 auto;
}