:host {
    display: block;
    position: relative;
    overflow: hidden;
}

.map-container {
    height: 600px;
}

.replay-controls-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.replay-controls > * {
    margin: 0 10px;
}

.score-box {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 999;
}

.bars-container {
    width: 350px;
    margin: 0 auto;
}

vw-faction-bar {
    height: 20px;
}

.bars-container ::ng-deep .faction-bar {
    line-height: 20px;
    height: 20px;
    font-size: 15px;
}

.time-settings {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    pointer-events: none;
}

    .time-settings .replay-time {
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        float: right;
        padding-right: 10px;
    }

    .time-settings .options-menu {
        float: right;
        pointer-events: all;
    }

        .time-settings .options-menu .options-menu-button {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
        }

.progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 49, 58, 0.4);
    overflow: hidden;
    height: 22px;
    z-index: 900;
}

    .progress-bar .progress {
        height: 100%;
        background: rgba(34, 49, 58, 0.8);
        color: white;
    }

    .progress-bar .seek-bar {
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }