.vw-tab-nav-bar {
    transition: background-color 0.5s ease;
    box-shadow: 0 3px 0 -2px rgba(0,0,0,.2), 0 2px 0 0 rgba(0,0,0,.14), 0 1px 0 0 rgba(0,0,0,.12);
}


.vw-nav {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.vw-nav a {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.4);
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    text-transform: initial;
}

.vw-nav a.active {
    color: rgba(255, 255, 255, 0.9);
}