<div class="content-container">
    <h3>Planetside</h3>
    <vw-loader [loading]="isLoading"></vw-loader>
    <vw-error-message [message]="errorMessage"></vw-error-message>
    <div *ngFor="let service of planetsideServices">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-slide-toggle class="pull-right" [checked]="service.isEnabled" [disabled]="service.isLoading" (change)="onServiceUpdate(service, $event)"></mat-slide-toggle>
                    {{service.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="layout-padding" *ngIf="service.details || service.errorMessage">
                <vw-error-message [message]="service.errorMessage"></vw-error-message>
                <div *ngIf="service.details">
                    <pre>{{service.details | json}}</pre>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>