.mat-mdc-table .mat-mdc-row {
    min-height: 25px;
}

.mat-mdc-table .mat-mdc-row .mat-mdc-cell {
    font-size: 11.2px;
}

.mat-mdc-cell a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}