<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Event name">
        </mat-form-field>
        <mat-slide-toggle formControlName="isPrivate">Public</mat-slide-toggle>
    </div>
    <div>
        <mat-form-field class="large-width">
            <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Server" formControlName="serverId">
                <mat-option *ngFor="let server of servers" [value]="server.id">
                    {{server.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Map" formControlName="mapId">
                <mat-option *ngFor="let map of maps" [value]="map.id">
                    {{map.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-datetimepicker-toggle [for]="pickerStart" matSuffix></mat-datetimepicker-toggle>
            <mat-datetimepicker #pickerStart type="datetime" openOnFocus="true" timeInterval="1"></mat-datetimepicker>
            <input matInput [matDatetimepicker]="pickerStart" required placeholder="Start date" formControlName="startDate">
        </mat-form-field>
        <mat-form-field>
            <mat-datetimepicker-toggle [for]="pickerEnd" matSuffix></mat-datetimepicker-toggle>
            <mat-datetimepicker #pickerEnd type="datetime" openOnFocus="true" timeInterval="1"></mat-datetimepicker>
            <input matInput [matDatetimepicker]="pickerEnd" required placeholder="End date" formControlName="endDate">
        </mat-form-field>
    </div>
    <div >
        <div formArrayName="teams">
            <div *ngFor="let team of teamForm.controls; index as i" [formGroupName]="i">
                <mat-checkbox formControlName="enabled"></mat-checkbox>
                <mat-icon fontSet="mdi" fontIcon="mdi-account" [ngClass]="team.value.teamId | factionColor"></mat-icon>
                <mat-form-field>
                    <input matInput formControlName="name" placeholder="Team name">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="dialog-action-footer">
        <button mat-raised-button (click)="closeDialog()">Close</button>
        <div class="pull-right">
            <button type="submit" [disabled]="form.pristine || form.invalid" mat-raised-button>Save</button>
        </div>
    </div>
</form>