.client-form {
    margin-top: 5px;
}

.client-form > *:not(:last-child) {
    margin-bottom: 10px;
}

.client-form-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

.form-title > * {
    height: 50px;
}

.form-title span {
    font-size: 35px;
    font-weight: bold;
}