<div class="content-container">
    <div class="events-list-container">
        <vw-loader [loading]="isLoading"></vw-loader>
        <vw-error-message [message]="errorMessage"></vw-error-message>
        <div *ngIf="!isLoading">
            <h3>Active Events</h3>
            <div *ngIf="getActiveEvents().length === 0" class="no-events">
                <strong>No events in progress</strong>
            </div>
            <div class="events-list in-progress">
                <vw-event-card [event]="event" *ngFor="let event of getActiveEvents() | orderBy: 'startDate'"></vw-event-card>
            </div>
            <h3>Past Events</h3>
            <div class="events-list">
                <vw-event-card [event]="event" *ngFor="let event of getPastEvents() | orderBy: '-startDate'"></vw-event-card>
            </div>
        </div>
    </div>
</div>