.events-list-container {
    margin-top: 10px;
}

.no-events {
    text-align: center;
}

.events-list {
    display: flex;
    flex-flow: column;
}

.events-list.in-progress {
    flex-flow: row wrap;
}