:host {
    font-size: 16px;
}

.alert-info {
    margin: 10px 0;
    color: #edeff0;
    margin-bottom: 30px;
}

.alert-info ::ng-deep .vw-tab-nav-sub-bar {
    box-shadow: none;
    font-size: initial;
}

.alert-times {
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    width: auto;
    display: flex;
    justify-content: space-around;
}

    .alert-times small {
        opacity: 0.5;
    }

.world-name {
    float: right;
    vertical-align: top;
    font-size: 32px;
}

.time-start,
.time-end,
.map-display {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
}

vw-faction-bar {
    height: 30px;
}

vw-faction-bar ::ng-deep .faction-bar {
    font-size: initial;
    line-height: 30px;
    height: 30px;
}

.remaining-timer {
    display: block;
    text-align: center;
    overflow: hidden;
    width: auto;
    padding: 10px;
    float: right;
}