<div>
    <vw-loader [loading]="isLoading"></vw-loader>
    <vw-error-message [message]="errorMessage"></vw-error-message>
    <div *ngIf="!isLoading && !errorMessage">
        <mat-card class="alert-info" [style.background]="getBackgroundColor(activeEvent.zoneId)">
            <mat-card-content>
                <div>
                    <div class="world-name">{{activeEvent.worldId | worldName}}</div>
                    <h1>{{activeEvent.metagameEvent.name}}</h1>
                    <div>{{activeEvent.metagameEvent.description}}</div>
                </div>
                <div>
                    <div *ngIf="activeEvent.endDate" class="alert-times">
                        <div class="time-start">
                            <div>{{activeEvent.startDate | date:'MMM d, y h:mm:ss a'}}</div>
                            <div><small>Start</small></div>
                        </div>
                        <div class="time-end">
                            <div>{{activeEvent.endDate | date:'MMM d, y h:mm:ss a'}}</div>
                            <div><small>End</small></div>
                        </div>
                        <div class="map-display">
                            <div>{{activeEvent.zoneId | zoneName}}</div>
                            <div><small>Map</small></div>
                        </div>
                    </div>
                    <div *ngIf="!activeEvent.endDate" class="remaining-timer">
                        Time left: <vw-countdown [end]="getEndDate(activeEvent)"></vw-countdown>
                    </div>
                </div>
                <vw-faction-bar [vs]="activeEvent.lastFactionVS" [nc]="activeEvent.lastFactionNC" [tr]="activeEvent.lastFactionTR"></vw-faction-bar>
            </mat-card-content>
            <mat-card-footer>
                <vw-tab-nav-sub-bar [links]="navLinks"></vw-tab-nav-sub-bar>
            </mat-card-footer>
        </mat-card>
    </div>
    <router-outlet></router-outlet>
</div>