<div class="vw-navigation">
    <mat-sidenav-container>
        <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     [opened]="sidenavState"
                     [ngClass]="{'snapped': !mobileQuery.matches}"
                     (closedStart)="closed()">
            <mat-nav-list>
                <div class="navigation-close nav-margin">
                    <button mat-icon-button (click)="closed()">
                        <mat-icon fontSet="mdi" fontIcon="mdi-arrow-left"></mat-icon>
                    </button>
                </div>
                <div class="navigation-toggles"></div>
                <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="nav-list nav-margin">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                        <a routerLink="{{node.url}}"
                           routerLinkActive #rla="routerLinkActive"
                           [class.active]="rla.isActive"
                           [routerLinkActiveOptions]="{ exact: node.exact }">
                            <mat-icon *ngIf="node.icon" fontSet="mdi" fontIcon="{{node.icon}}"></mat-icon>
                            {{node.name}}
                        </a>
                    </mat-tree-node>
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                        <a routerLink="{{node.url}}"
                           routerLinkActive #rla="routerLinkActive"
                           [class.active]="rla.isActive"
                           [routerLinkActiveOptions]="{ exact: node.exact }"
                           (click)="setActiveNode(node)">
                            <mat-icon *ngIf="node.icon" fontSet="mdi" fontIcon="{{node.icon}}"></mat-icon>
                            {{node.name}}
                        </a>
                        <button mat-icon-button matTreeNodeToggle class="toggle-button">
                            <mat-icon *ngIf="!nestedTreeControl.isExpanded(node)" fontSet="mdi" fontIcon="mdi-plus"></mat-icon>
                            <mat-icon *ngIf="nestedTreeControl.isExpanded(node)" fontSet="mdi" fontIcon="mdi-minus"></mat-icon>
                        </button>
                        <ul [class.nav-node-invisible]="!nestedTreeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                    </mat-nested-tree-node>
                </mat-tree>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
