:host {
    position: relative;
    display: flex;
    box-shadow: 0 3px 0 -2px rgba(0,0,0,.2);
}


.blog-left {
    background: #16232c;
}

.blog-right {
    background: #0f1c25;
}

.blog-footer {
    vertical-align: middle;
    padding: 20px 40px;
}
.blog-footer a {
    color: inherit;
}

.blog-timestamp {
    text-transform: uppercase;
}

.blog-time {
    font-weight: bold;
    color: #b82601;
}