:host {
    position: relative;
    display: flex;
    box-shadow: 0 3px 0 -2px rgba(0,0,0,.2);
}


.blog-left {
    background: #19182b;
    max-width: 300px;
    min-width: 300px;
    padding: 40px;
    position: relative;
}

.blog-right {
    background: #0a0a0a;
    position: relative;
}

.blog-right,
.blog-link a {
    color: rgba(255, 255, 255, 0.9);
}

.blog-title {
    font-size: 2em;
}

.blog-title-spacer {
    width: 50px;
    height: 5px;
    background: #b82601;
}

.blog-author {
    position: absolute;
    bottom: 20px;
}

.blog-content {
    line-height: 25px;
    padding: 40px 40px 30px 40px;
}

.blog-footer {
    box-shadow: 0px -20px 45px 0px rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    padding: 20px 40px;
}

.blog-timestamp {
    text-transform: uppercase;
    font-size: 11.5px;
}

.blog-time {
    font-weight: bold;
    color: #b82601;
}

.blog-date,
.blog-time,
.blog-timestamp-spacer {
    display: inline-block;
    vertical-align: middle;
}

.blog-timestamp-spacer {
    width: 10px;
    text-align: center;
}
