:host {
    display: block;
    height: 100%;
    width: 100%;
}

.map {
    height: 100%;
    width: 100%;
    background-color: #051111;
}

    .map ::ng-deep .svg-icon {
        pointer-events: none;
    }

        .map ::ng-deep .svg-icon svg {
            fill: #79e0e1;
        }

        .map ::ng-deep .svg-icon.svg-icon-large svg {
            width: 24px;
            height: 24px;
        }

        .map ::ng-deep .svg-icon.svg-icon-medium svg {
            width: 20px;
            height: 20px;
        }

        .map ::ng-deep .svg-icon.svg-icon-small svg {
            width: 16px;
            height: 16px;
        }

    .map ::ng-deep .leaflet-map-pane[data-zoom='0'] .leaflet-lattice-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='0'] .leaflet-facilitiesLabels-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='0'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='0'] .leaflet-outpostsLabels-pane {
        display: none;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='1'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='1'] .leaflet-outpostsLabels-pane {
        display: none;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='2'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='2'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='3'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='3'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='4'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='4'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='4'] .leaflet-regions-pane {
        opacity: 1;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='5'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='5'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='5'] .leaflet-lattice-pane {
        opacity: 0.6;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='5'] .leaflet-regions-pane {
        opacity: 0.8;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='6'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='6'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='6'] .leaflet-lattice-pane {
        opacity: 0.4;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='6'] .leaflet-regions-pane {
        opacity: 0.6;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='7'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='7'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='7'] .leaflet-lattice-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='7'] .leaflet-regions-pane {
        opacity: 0.4;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='8'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='8'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='8'] .leaflet-lattice-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='8'] .leaflet-regions-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='9'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='9'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='9'] .leaflet-lattice-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='9'] .leaflet-regions-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='10'] .leaflet-outposts-pane,
    .map ::ng-deep .leaflet-map-pane[data-zoom='10'] .leaflet-outpostsLabels-pane {
        display: block;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='10'] .leaflet-lattice-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-map-pane[data-zoom='10'] .leaflet-regions-pane {
        opacity: 0.2;
    }

    .map ::ng-deep .leaflet-tooltip::before {
        display: none;
    }

    .map ::ng-deep .leaflet-tooltip {
        color: #fff;
        width: 100px;
        text-align: center;
        top: 5px;
        font-size: 12px;
        line-height: 16px;
        text-shadow: #000 2px 2px 1px;
        padding: 0;
        border: none;
        box-shadow: none;
        background: none;
        white-space: initial;
    }

    .map ::ng-deep svg.ns {
        fill: #79e0e1;
    }

    .map ::ng-deep svg.vs {
        fill: #9e52e0;
    }

    .map ::ng-deep svg.nc {
        fill: #33adff;
    }

    .map ::ng-deep svg.tr {
        fill: #df2020;
    }

        .map ::ng-deep svg.ns circle,
        .map ::ng-deep svg.vs circle,
        .map ::ng-deep svg.nc circle,
        .map ::ng-deep svg.tr circle {
            stroke: #fff;
        }

        .map ::ng-deep svg.ns path,
        .map ::ng-deep svg.vs path,
        .map ::ng-deep svg.nc path,
        .map ::ng-deep svg.tr path,
        .map ::ng-deep svg.marker-icon.ns polygon,
        .map ::ng-deep svg.marker-icon.vs polygon,
        .map ::ng-deep svg.marker-icon.nc polygon,
        .map ::ng-deep svg.marker-icon.tr polygon {
            fill: #fff;
        }

    .map ::ng-deep .region {
        fill: #79e0e1;
        fill-opacity: 0.4;
        z-index: -1;
    }

    .map ::ng-deep .region.unconnected {
        fill: #249c9e;
        fill-opacity: 0.7;
    }

    .map ::ng-deep .region.vs {
        fill: #9e52e0;
    }
    .map ::ng-deep .region.vs.capture-flash {
        animation: map-region-vs 1s linear;
    }
    .map ::ng-deep .region.unconnected.vs {
        fill: #4f2970;
    }

    .map ::ng-deep .region.nc {
        fill: #33adff;
    }
    .map ::ng-deep .region.nc.capture-flash {
        animation: map-region-nc 1s linear;
    }
    .map ::ng-deep .region.unconnected.nc {
        fill: #1a5780;
    }

    .map ::ng-deep .region.tr {
        fill: #df2020;
    }
    .map ::ng-deep .region.tr.capture-flash {
        animation: map-region-tr 1s linear;
    }
    .map ::ng-deep .region.unconnected.tr {
        fill: #701010;
    }

    .map ::ng-deep .lattice-line {
        stroke: #79e0e1;
        stroke-width: 2;
    }

    .map ::ng-deep .lattice-outline {
        stroke: #FFF;
        stroke-width: 4;
    }

    .map ::ng-deep .lattice-line.vs {
        stroke: #9e52e0;
    }

    .map ::ng-deep .lattice-line.nc {
        stroke: #33adff;
    }

    .map ::ng-deep .lattice-line.tr {
        stroke: #df2020;
    }

    .map ::ng-deep .lattice-line.contested {
        stroke: #FFFF00;
        stroke-width: 3;
        stroke-dasharray: 6;
    }

    .map ::ng-deep .lattice-outline.contested {
        stroke: #000;
        stroke-width: 5;
    }

@keyframes map-region-vs {
    0% { fill: #fff; }
    50% { fill: #fff; }
    100% { fill: #9e52e0; }
}

@keyframes map-region-nc {
    0% { fill: #fff; }
    50% { fill: #fff; }
    100% { fill: #33adff; }
}

@keyframes map-region-tr {
    0% { fill: #fff; }
    50% { fill: #fff; }
    100% { fill: #df2020; }
}
