<div class="vw-header">
    <div class="logo">
        <a routerLink="/" class="logo-button">
            <img src="logo-text.png" alt="Voidwell" />
        </a>
        <a href="javascript:void(0);" class="menu-button" (click)="toggleNav()">
            <mat-icon fontSet="mdi" fontIcon="mdi-menu"></mat-icon>
        </a>
    </div>
    <ul class="top-menu">
        <li class="top-menu_search" *ngIf="searchService.isUsable">
            <button mat-icon-button (click)="searchService.focusSearch()">
                <mat-icon fontSet="mdi" fontIcon="mdi-magnify"></mat-icon>
            </button>
        </li>
        <li class="top-menu_profile">
            <button mat-icon-button [matMenuTriggerFor]="profilemenu">
                <mat-icon fontSet="mdi" fontIcon="mdi-account-circle"></mat-icon>
            </button>
            <mat-menu #profilemenu="matMenu">
                <button mat-menu-item *ngIf="isLoggedIn" routerLink="/account/settings">{{userName}}</button>
                <mat-divider *ngIf="isLoggedIn"></mat-divider>
                <button mat-menu-item *ngIf="isLoggedIn && canAccessAdmin()" routerLink="/admin">Admin</button>
                <button mat-menu-item *ngIf="isLoggedIn" (click)="signOut()">Logout</button>

                <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/account/register">Register</button>
                <button mat-menu-item *ngIf="!isLoggedIn" (click)="signIn()">Login</button>
            </mat-menu>
        </li>
    </ul>
    <form class="top-search" [ngClass]="{'focus': searchService.searchFocused || searchService.control.dirty}" *ngIf="searchService.isUsable">
        <router-outlet name="search"></router-outlet>
    </form>
</div>
