<div class="vw-header">
    <div class="logo">
        <svg id="clip-paths" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g></g></svg>
        <a routerLink="/" class="logo-button">
            <div id="header-logo">
                <svg id="logo" class="logo-image" viewBox="0 0 1031 422" xmlns="http://www.w3.org/2000/svg"><path d="M0,0H304L515,292,726,0h305L727,422,638,299l46-65,43,58L883,75H766L515,422,264,75H148L304,292l43-58,46,65L304,422ZM515,0l84,115-46,65-38-51-37,51-46-65Z" /></svg>
            </div>
            <img class="logo-text" src="logo-text.png" alt="Voidwell" />
        </a>
        <a href="javascript:void(0);" class="menu-button" (click)="toggleNav()">
            <mat-icon fontSet="mdi" fontIcon="mdi-menu"></mat-icon>
        </a>
    </div>
    <ul class="top-menu">
        <li class="top-menu_search" *ngIf="searchService.isUsable">
            <button mat-icon-button (click)="focusSearch($event)">
                <mat-icon fontSet="mdi" fontIcon="mdi-magnify"></mat-icon>
            </button>
        </li>
        <li class="top-menu_profile">
            <button mat-icon-button [matMenuTriggerFor]="profilemenu">
                <mat-icon fontSet="mdi" fontIcon="mdi-account-circle"></mat-icon>
            </button>
            <mat-menu #profilemenu="matMenu">
                <button mat-menu-item *ngIf="isLoggedIn" routerLink="/account/settings">{{userName}}</button>
                <mat-divider *ngIf="isLoggedIn"></mat-divider>
                <button mat-menu-item *ngIf="isLoggedIn && canAccessAdmin()" routerLink="/admin">Admin</button>
                <button mat-menu-item *ngIf="isLoggedIn" (click)="signOut()">Logout</button>

                <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/account/register">Register</button>
                <button mat-menu-item *ngIf="!isLoggedIn" (click)="signIn()">Login</button>
            </mat-menu>
        </li>
    </ul>
    <form class="top-search" [ngClass]="{'focus': searchService.searchFocused || searchService.control.dirty}" *ngIf="searchService.isUsable">
        <router-outlet name="search"></router-outlet>
    </form>
</div>
