.event-map > *:not(:last-child) {
    margin-bottom: 30px;
}

.table-container {
    overflow-x: auto;
}

.mat-table {
    min-width: 800px;
}

.mat-table .mat-row {
    min-height: 25px;
}

.mat-table .mat-row .mat-cell {
    font-size: 0.8em;
}


.faction-bar-container {
    display: block;
    white-space: nowrap;
    margin-top: 10px;
    height: 18px;
}

    .faction-bar-container .faction-bar {
        display: block;
        float: left;
        height: 18px;
        line-height: 18px;
        text-align: center;
    }

.mat-column-time,
.mat-column-winner,
.mat-column-loser {
    max-width: 80px;
}

.mat-column-mapper {
    width: 450px;
}

a.outfit-name {
    color: #fff;
    text-decoration: none;
}

.event-map.map-enabled .mat-column-facility .facility-name,
.event-map.map-enabled .mat-column-time .timestamp {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.map-events .filters {
    margin-bottom: 5px;
}
.map-events .filters .mat-button-toggle:not(:last-of-type) {
    margin-right: 5px;
}