<div class="event-map" [class.map-enabled]="alert && alert.zoneSnapshot">
    <div class="replay-map" *ngIf="alert && alert.zoneSnapshot">
        <zone-replay-map [zoneId]="alert.zoneId"
                         [ownershipStream]="ownershipSub"
                         [focusFacility]="focusFacilityEmitter"
                         [focusTimestamp]="focusTimestampEmitter"
                         [timeline]="alert.log.captureLog"
                         [start]="alert.startDate"
                         [end]="alert.endDate">
        </zone-replay-map>
    </div>
    <div class="map-events">
        <div class="filters">
            Show:
            <mat-button-toggle value="captures"
                               [checked]="filterState.captures"
                               (change)="onFilterToggle($event)">
                Captures
            </mat-button-toggle>
            <mat-button-toggle value="defends"
                               [checked]="filterState.defends"
                               (change)="onFilterToggle($event)">
                Defends
            </mat-button-toggle>
        </div>
        <div class="table-container">
            <mat-table #table [dataSource]="dataSource" class="striped" matSort>
                <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <span class="timestamp" (click)="onFocusTimestamp(event.timestamp)">
                            {{event.timestamp | date: 'HH:mm:ss'}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="facility">
                    <mat-header-cell *matHeaderCellDef>Facility</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <span class="facility-name" [ngClass]="event.newFactionId | factionColor" (click)="onFocusFacility(event.mapRegion.id)">
                            {{event.mapRegion.facilityName}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="winner">
                    <mat-header-cell *matHeaderCellDef>Winner</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <span [ngClass]="event.newFactionId | factionColor">{{event.newFactionId | factionCode}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loser">
                    <mat-header-cell *matHeaderCellDef>Loser</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <span [ngClass]="event.oldFactionId | factionColor">{{event.oldFactionId | factionCode}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="outfit">
                    <mat-header-cell *matHeaderCellDef>Outfit</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <a *ngIf="event.outfit" routerLink="outfit/{{event.outfit.id}}" class="outfit-name">
                            <span *ngIf="event.outfit.alias">[{{event.outfit.alias}}]</span>
                            <span>{{event.outfit.name}}</span>
                        </a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mapper">
                    <mat-header-cell *matHeaderCellDef>Map %</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <vw-faction-bar [vs]="event.factionVs" [nc]="event.factionNc" [tr]="event.factionTr"></vw-faction-bar>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="zonepop">
                    <mat-header-cell *matHeaderCellDef>Zone Population %</mat-header-cell>
                    <mat-cell *matCellDef="let event">
                        <vw-faction-bar [vs]="event.zonePopVs" [nc]="event.zonePopNc" [tr]="event.zonePopTr" [neutural]="false"></vw-faction-bar>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['time','facility','winner','loser','outfit','mapper','zonepop']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['time','facility','winner','loser','outfit','mapper','zonepop'];"></mat-row>
            </mat-table>
        </div>
    </div>
</div>