.table-container {
    overflow-x: auto;
}

.mat-table {
    max-height: 800px;
    min-width: 550px;
}

    .mat-table .mat-row {
        min-height: 25px;
    }

        .mat-table .mat-row .mat-cell {
            font-size: 0.8em;
        }

.weapon-name a {
    text-decoration: none;
    color: #fff;
}

.mat-column-idx {
    max-width: 45px;
}

.mat-column-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mat-column-kills,
.mat-column-tks,
.mat-column-headshots,
.mat-column-hsper {
    max-width: 80px;
}
