.single-class,
.class-list {
    margin-top: 25px;
}

.profile-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    -webkit-filter: invert(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.kdr-block,
.name-block {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    height: 40px;
    margin: 0 0 0 1px;
}

.name-block small,
.kdr-block small {
    display: block;
    opacity: 0.5;
    font-size: 12px;
}

.mat-column-rank {
    opacity: 0.5;
    text-align: left;
    max-width: 60px;
}

.mat-column-name {
    text-align: left;
    max-width: 200px;
}

.goto-button {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-top: 5px;
}
.mat-column-gobutton .mdi:before {
    font-weight: bold;
}