h1 {
    font-size: 26px;
    margin: 0;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 16px;
}

small {
    font-size: 92%;
}

html {
    font-size: 10px;
    display: block;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #22313a;
    color: #8a9ba1;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0;
}

    body:before {
        content: '';
        height: 266px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #1e2a31;
    }

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767px) {
    body:before {
        height: 215px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body:before {
        height: 265px;
    }
}

@media (max-width: 767px) {
    body:before {
        height: 216px;
    }
}

* {
    -webkit-font-smoothing: antialiased;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, :active, :hover {
    outline: 0;
}

*, :active, :hover, html {
    -webkit-tap-highlight-color: transparent;
}

.error-text {
    color: #ff4f4f;
}

.main-content {
    position: relative;
    display: block;
}

@media (min-width: 1280px) {
    .main-content {
        padding: 0 40px 30px 270px;
        min-height: calc(100vh - 159px);
    }
}

@media (max-width: 1279px) and (min-width: 768px) {
    .main-content {
        padding: 0 40px 30px;
    }
}

@media (max-width: 767px) {
    .main-content {
        padding: 0 15px 30px;
    }
}

.content {
    max-width: 1300px;
    margin: 0 auto;
}



.info-item {
    padding: 15px 30px;
}

    .info-item:nth-child(odd) {
        background: rgba(255, 255, 255, 0.025);
    }

    .info-item h3 {
        margin: 3px 0;
        font-weight: 400;
        color: #b4bfc3;
    }









.voidwell .tab-nav-bar,
.voidwell mat-tab-group mat-tab-header {
    background: #19282F;
    color: #fff;
}

.voidwell mat-ink-bar {
    background: #3A4C58;
}

img.inverse-img {
    -webkit-filter: invert(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}




.form-container {
    background: white;
    padding: 3.5em;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
}

.alc {
    text-align: center;
    display: block;
    margin: 15px 0;
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

#goback {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    color: #3B8598;
}

    #goback span {
        font-size: 1em;
    }

.mat-tab-nav-bar {
    border: none;
}

.mat-input-underline {
    border-color: #3A4C58;
}

    .mat-input-underline .mat-input-ripple {
        background: #3A4C58;
    }

.mat-dialog-container {
    background: #19282F;
}

    .mat-dialog-container .mat-input-placeholder {
        color: #fff;
    }



/**
 * Progress bar animations
 */
@-webkit-keyframes query {
    0% {
        opacity: 1;
        -webkit-transform: translateX(35%) scale(0.3, 1);
        transform: translateX(35%) scale(0.3, 1);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%) scale(0, 1);
        transform: translateX(-50%) scale(0, 1);
    }
}

@keyframes query {
    0% {
        opacity: 1;
        -webkit-transform: translateX(35%) scale(0.3, 1);
        transform: translateX(35%) scale(0.3, 1);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%) scale(0, 1);
        transform: translateX(-50%) scale(0, 1);
    }
}




.table-filter {
    text-align: right;
    padding: 0 50px;
}

.table-filter .mat-form-field {
    width: 100%;
}







.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.mat-tab-group .mat-tab-label,
.mat-form-field .mat-input-element {
    color: #b4bfc3;
}
.mat-tab-group .mat-tab-label.mat-tab-disabled {
    opacity: 0.2;
}

.mat-form-field .mat-input-element {
    caret-color: #b4bfc3;
}

.mat-form-field .mat-form-field-placeholder,
.mat-form-field .mat-form-field-label,
.mat-form-field.mat-focused .mat-form-field-placeholder,
.mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(177,188,192,.47);
}

.mat-form-field .mat-form-field-underline,
.mat-form-field .mat-form-field-ripple {
    background-color: #31424b;
}
.mat-form-field .mat-form-field-ripple {
    height: 1px !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #edeff0;
}
.mat-form-field-invalid .mat-form-field-placeholder {
    color: #ca1406;
}

.mat-tab-link,
.mat-tab-label, {
    color: #fff;
}
.mat-ink-bar {
    background-color: #868686 !important;
}














.dialog-action-footer {
    margin-top: 25px;
}




















.mat-table,
.mat-paginator,
.table-filter {
    background: #2b3942;
}

mat-table.striped mat-row:nth-child(even) {
    background: rgba(255,255,255,.025);
}

mat-table mat-row {
    position: relative;
    border-bottom-color: rgba(255,255,255,.025);
}

mat-table mat-row mat-cell.mat-cell {
    color: inherit;
}
    mat-paginator.mat-paginator,
    mat-table mat-header-row mat-header-cell.mat-header-cell {
        border-bottom-width: 1px;
        color: #b4bfc3;
        font-weight: 500;
    }
mat-paginator .mat-paginator-increment,
mat-paginator .mat-paginator-decrement {
    border-color: #fff;
}
mat-paginator .mat-icon-button[disabled] .mat-paginator-increment,
mat-paginator .mat-icon-button[disabled] .mat-paginator-decrement {
    border-color: #585858;
}

[mat-button].mat-button,
[mat-raised-button].mat-raised-button {
    color: #b4bfc3;
    background-color: #394650;
    box-shadow: none !important;
}
[mat-button].mat-button[disabled],
[mat-raised-button].mat-raised-button[disabled] {
    color: #b4bfc3;
    opacity: 0.65;
}


[mat-button], [mat-icon-button] {
    background: transparent;
}

mat-icon[fonticon] {
    height: auto;
}


mat-card.mat-card {
    background: #2b3942;
    color: inherit;
    box-shadow: none !important;
}

mat-card .mat-card-title h1,
mat-card .mat-card-title h2,
mat-card .mat-card-title h3,
mat-card .mat-card-title h4,
mat-card .mat-card-title h5,
mat-card .mat-card-title h6 {
    margin: 0;
}

mat-card .mat-card-title {
    font-size: inherit;
    color: #fff;
    opacity: 0.8;
}
mat-card .mat-card-title a {
    color: inherit;
    text-decoration: none;
}

mat-card .mat-card-subtitle {
    color: #fff;
    opacity: 0.8;
    font-size: 0.9em;
    line-height: 1.33333333em;
}

.mat-dialog-container,
.mat-select-value {
    color: rgba(255,255,255,0.8);
}

.mat-dialog-container label:not(.mat-checkbox-layout) {
    display: inline-block;
    width: 150px;
    opacity: 0.5;
}


mat-checkbox.mat-checkbox.mat-checkbox-checked .mat-checkbox-background {
    background-color: #525252;
}