.content-container {
    width: 1300px;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}


body {
    margin: 0;
    background: #161f20;
    color: #fff;
    text-size-adjust: 100%;
}

html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

vw-navbar {
    position: relative;
    z-index: 10;
    color: #fff;
}

vw-header {
    position: relative;
    z-index: 9;
    color: #fff;
}


.voidwell .tab-nav-bar,
.voidwell mat-tab-group mat-tab-header {
    background: #19282F;
    color: #fff;
}

.voidwell mat-ink-bar {
    background: #3A4C58;
}






.voidwell a:not([mat-button]):not([mat-tab-link]) {
    color: #48DCF6;
    text-decoration: none;
}

.voidwell a:not([mat-button]):hover {
    opacity: 0.5;
}



img.inverse-img {
    -webkit-filter: invert(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}




.form-container {
    background: white;
    padding: 3.5em;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
}

.alc {
    text-align: center;
    display: block;
    margin: 15px 0;
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

#goback {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    color: #3B8598;
}

    #goback span {
        font-size: 1em;
    }

.mat-tab-nav-bar {
    border: none;
}

.mat-input-underline {
    border-color: #3A4C58;
}

    .mat-input-underline .mat-input-ripple {
        background: #3A4C58;
    }

.mat-dialog-container {
    background: #19282F;
}

    .mat-dialog-container .mat-input-placeholder {
        color: #fff;
    }









.flex {
    flex: 1 !important;
    box-sizing: border-box !important;
}

.flexrow {
    display: flex !important;
    flex-direction: row !important;
    box-sizing: border-box !important;
}

.flexcolumn {
    display: flex !important;
    flex-direction: column !important;
    box-sizing: border-box !important;
}

.flexalignspacearoundstretch {
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
}

.flexalignspacebetweenstretch {
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
}

.flexalignstartcenter {
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: flex-start;
}

.layout-padding,
.layout-padding > * {
    padding: 8px;
}

.layout-margin,
.layout-margin > * {
    margin: 8px;
}

.layout-wrap {
    flex-wrap: wrap;
}






/**
 * Progress bar animations
 */
@-webkit-keyframes query {
    0% {
        opacity: 1;
        -webkit-transform: translateX(35%) scale(0.3, 1);
        transform: translateX(35%) scale(0.3, 1);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%) scale(0, 1);
        transform: translateX(-50%) scale(0, 1);
    }
}

@keyframes query {
    0% {
        opacity: 1;
        -webkit-transform: translateX(35%) scale(0.3, 1);
        transform: translateX(35%) scale(0.3, 1);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%) scale(0, 1);
        transform: translateX(-50%) scale(0, 1);
    }
}












.pull-right {
    float: right;
}
.pull-left {
    float: left;
}



.mat-form-field-placeholder {
    color: #fff;
    opacity: 0.8;
}
.mat-focused .mat-form-field-placeholder {
    color: #fff;
}
.mat-form-field-invalid .mat-form-field-placeholder {
    color: #ca1406;
}

.tab-nav-bar-background {
    background: #1F2E32;
}
.tab-nav-bar-background.sub-bar {
    background: #19282F;
}
.mat-tab-link,
.mat-tab-label {
    color: #fff;
}
.mat-ink-bar {
    background-color: #868686 !important;
}
































mat-table {
    
}

mat-table.striped mat-row:nth-child(odd) {
    background: #24313a;
}

mat-table mat-row {
    background: #1F2E32;
    position: relative;
}
mat-table mat-row mat-cell.mat-cell {
    color: #fff;
}

mat-paginator.mat-paginator,
mat-table mat-header-row {
    background: #19282F;
}
mat-paginator.mat-paginator,
mat-table mat-header-row mat-header-cell.mat-header-cell {
    color: #fff;
}
mat-paginator .mat-paginator-increment,
mat-paginator .mat-paginator-decrement {
    border-color: #fff;
}
mat-paginator .mat-icon-button[disabled] .mat-paginator-increment,
mat-paginator .mat-icon-button[disabled] .mat-paginator-decrement {
    border-color: #585858;
}

[mat-button], [mat-raised-button] {
    color: #fff;
    background: #424150;
    text-transform: uppercase;
}

[mat-button], [mat-icon-button] {
    background: transparent;
}

mat-icon[fonticon] {
    height: auto;
}


mat-card.mat-card {
    border-radius: 0;
    position: relative;
    margin: 8px;
    padding: 0;
    background: #1F2E32;
}

mat-card.inline,
.inline {
    display: inline-block;
}

mat-card mat-card-header {
    background: #3A4C58;
    color: #fff;
    font-size: initial;
    margin: 0;
    padding: 10px 10px 0 10px;
}

mat-card .mat-card-header-text {
    width: 100%;
}

mat-card mat-card-title {
    opacity: 0.9;
}

mat-card mat-card-subtitle {
    color: #fff;
    opacity: 0.5;
}

mat-card mat-card-content {
    padding: 0;
    position: relative;
    font-size: initial;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

mat-card.mat-card mat-card-footer {
    padding: 0;
    display: block;
    position: relative;
    bottom: initial;
    left: initial;
    min-height: initial;
    width: initial;
    margin: 0;
}

mat-card mat-card-footer.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-card .info-rows .info-row .info-item {
    border-top: 1px solid #9e9e9e;
    padding: 10px;
}

    mat-card .info-rows .info-row .info-item:not(:last-child) {
        border-right: 1px solid #9e9e9e;
    }

    mat-card .info-rows .info-row .info-item .value,
    mat-card .info-rows .info-row .info-item .label {
        text-align: center;
        color: #fff;
    }

    mat-card .info-rows .info-row .info-item .label {
        opacity: 0.5;
        font-size: 0.8em;
    }

    mat-card .info-rows .info-row .info-item .value {
        font-size: 1.1em;
    }

/*
    .mat-card .mat-card-header {
        background: #3A4C58;
        font-size: initial;
        padding: 10px 10px 0 10px;
    }

    .mat-card .mat-card-header-text {
        width: 100%;
    }

    .mat-card .mat-card-title,
    .mat-card .mat-card-subtitle {
        color: #fff;
    }

    .mat-card .mat-card-content {
        padding: 10px;
        position: relative;
        font-size: initial;
        color: #fff;
        overflow: hidden;
    }
*/