.resource-form {
    margin-top: 5px;
}

.resource-form > *:not(:last-child) {
    margin-bottom: 10px;
}

.resource-form-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

.form-title > * {
    height: 50px;
}

.form-title span {
    font-size: 35px;
    font-weight: bold;
}

.scope-table th {
    text-align: left;
}

.scope-table .col-remove {
    width: 15px;
}

.scope-table .col-name,
.scope-table .col-display-name {
    width: 150px;
}

.scope-table .col-required,
.scope-table .col-emphasize,
.scope-table .col-show-discovery {
    width: 100px;
}

.scope-table td.col-required,
.scope-table td.col-emphasize,
.scope-table td.col-show-discovery {
    text-align: center;
}

.delete-button {
    cursor: pointer;
}