:host {
    display: block;
    position: relative;
    margin-bottom: 25px;
}

.activity-population-card {
    height: 100%;
}

#graph-container {
    height: 200px;
}

    #graph-container ::ng-deep .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
    }

    #graph-container ::ng-deep .svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #graph-container ::ng-deep .line {
        fill: none;
    }

    #graph-container ::ng-deep .tt-focus {
        fill: transparent;
    }

#tooltip {
    position: absolute;
    color: #b4bfc3;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #1e2a31;
    z-index: 9999;
    border-radius: 2px;
    pointer-events: none;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    white-space: nowrap;
    display: none;
}

::ng-deep .tipline {
    stroke: #8a9ba1;
}
