.alerts-list-container {
    margin-top: 10px;
}

.no-alerts {
    text-align: center;
}

.alerts-list {
    display: flex;
    flex-flow: column;
}

vw-alert-card {
    margin-bottom: 15px;
}

.paging-buttons {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

    .paging-buttons .filters {
        display: inline-block;
    }