.vw-secret-manager {
    display: block;
}

.secret-table th {
    text-align: left;
}

.secret-table .col-remove {
    width: 15px;
}

.secret-table .col-type,
.secret-table .col-expiration {
    width: 150px;
}

.secret-table .col-value {
    width: 250px;
}

.delete-button {
    cursor: pointer;
}