<div class="content-container">
    <vw-error-message [message]="errorMessage"></vw-error-message>
    <vw-loader [loading]="isLoading"></vw-loader>
    <div class="main-news-container" *ngIf="!isLoading && !errorMessage">
        <div class="news-content">
            <div *ngIf="!isNewsLoading" class="news-card-list">
                <vw-news-card [post]="post" *ngFor="let post of newsList"></vw-news-card>
            </div>
        </div>
        <div class="updates-content">
            <div class="updates-title">Game Updates</div>
            <ul *ngIf="!isUpdatesLoading">
                <li *ngFor="let item of updateList">
                    <a [href]="item.link" target="_blank">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>