<div class="content-container">
    <div class="zone-map">
        <div class="map-container">
            <ps2-zone-map [zoneId]="zoneId" [ownershipStream]="ownershipSub" [captureStream]="captureSub" [defendStream]="defendSub" [focusFacility]="focusFacilityEmitter" (score)="onScoreChange($event)"></ps2-zone-map>
        </div>
        <mat-card class="info-container">
            <mat-card-content>
                <vw-faction-bar [vs]="score[1]" [nc]="score[2]" [tr]="score[3]"></vw-faction-bar>
            </mat-card-content>
            <mat-card-footer>
                <div class="map-log">
                    <div *ngIf="zoneLogs.length === 0">
                        Waiting for activity...
                    </div>
                    <div *ngFor="let item of zoneLogs" class="zone-event">
                        <span class="timestamp">{{item.timestamp | date:'mediumTime'}}</span>
                        <span *ngIf="item.event === 'defend'">
                            <mat-icon fontSet="mdi" fontIcon="mdi-shield" [ngClass]="item.faction.id | factionColor"></mat-icon>
                            <span [ngClass]="item.faction.id | factionColor" class="faction-name">{{item.faction.code}}</span> defended <span class="facility-name" (click)="focusFacility(item.facilityId)">{{getFacilityName(item.facilityId)}}</span>
                        </span>
                        <span *ngIf="item.event === 'capture'">
                            <mat-icon fontSet="mdi" fontIcon="mdi-sword-cross" [ngClass]="item.faction.id | factionColor"></mat-icon>
                            <span [ngClass]="item.faction.id | factionColor" class="faction-name">{{item.faction.code}}</span> captured <span class="facility-name" (click)="focusFacility(item.facilityId)">{{getFacilityName(item.facilityId)}}</span>
                        </span>
                        <span *ngIf="item.event === 'continent_lock'">
                            <mat-icon fontSet="mdi" fontIcon="mdi-lock" [ngClass]="item.faction.id | factionColor"></mat-icon>
                            <span [ngClass]="item.faction.id | factionColor" class="faction-name">{{item.faction.code}}</span> locked {{item.zone.name}}
                        </span>
                        <span *ngIf="item.event === 'continent_unlock'">
                            <mat-icon fontSet="mdi" fontIcon="mdi-lock-open"></mat-icon>
                            <span>{{item.zone.name}} is unlocked</span>
                        </span>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>