.voidwell-character-stats .stats-header {
    margin: 25px 10px 10px;
}
.voidwell-character-stats .stats-header .header-left {
    font-size: 1.7em;
}
.voidwell-character-stats .stats-header .header-right .label {
    opacity: 0.8;
    font-size: 0.7em;
    text-align: right;
    text-transform: uppercase;
    display: block;
    width: auto;
}

.card {
    flex: 1 1 auto;
    margin: 10px;
}

.card-row.card-row-stretch .mat-card {
    flex: 1;
}

.vw-character-outfit .outfit-header {
    font-size: 1.3em;
    padding-left: 5px;
}

.vw-character-outfit .link-text {
    text-decoration: none;
    color: inherit;
}
.vw-character-outfit .link-text:hover {
    opacity: 0.7;
}
.vw-character-outfit .link-text.leader {
    color: #8A8A8A;
}

.vw-character-kdr,
.vw-character-weapons {
    overflow: hidden;
}

.vw-character-kdr .kdr-data,
.vw-character-weapons .weapon-data {
    color: #fff;
    margin-top: 15px;
}

.vw-character-kdr .kdr-data .label,
.vw-character-weapons .weapon-data .label,
.vw-character-ivi .ivi-data .label {
    opacity: 0.8;
    width: 120px;
    display: inline-block;
}

.vw-character-overview .label,
.vw-character-outfit .label {
  opacity: 0.8;
  width: 130px;
  display: inline-block;
}

.value {
  opacity: 1;
}
.value.positive {
    color: #388E3C;
}
.value.negative {
    color: #FF5252;
}

.info-item vw-grade {
    display: block;
    text-align: center;
}

.ivi-data .ivi-score {
    text-align: center;
}
.ivi-data .ivi-score .value {
    font-size: 1.2em;
}
.ivi-data .ivi-score .label {
    opacity: 0.5;
    font-size: 0.8em;
}