.siege-container,
.vw-character-kdr,
.vw-character-ivi,
.vw-character-weapons {
    max-width: 450px;
}

.voidwell-character-stats .stats-header {
    margin: 25px 10px 10px;
}
.voidwell-character-stats .stats-header .header-left {
    font-size: 1.7em;
}
.voidwell-character-stats .stats-header .header-right .label {
    opacity: 0.8;
    font-size: 0.7em;
    text-align: right;
    text-transform: uppercase;
    display: block;
    width: auto;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.card {
    flex: 1 1 auto;
    margin: 15px;
}

.card-row.card-row-stretch .mat-card {
    flex: 1;
    margin-bottom: 10px;
}

.vw-character-outfit .outfit-header {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.vw-character-outfit .link-text {
    text-decoration: none;
    color: inherit;
}
.vw-character-outfit .link-text:hover {
    opacity: 0.7;
}
.vw-character-outfit .link-text.leader {
    color: #8A8A8A;
}

.vw-character-kdr,
.vw-character-weapons,
.vw-character-ivi {
    overflow: hidden;
}

    .vw-character-kdr .kdr-data,
    .vw-character-weapons .weapon-data,
    .vw-character-ivi .ivi-info,
    .vw-character-ivi .ivi-score h3 {
        color: #fff;
    }

    .vw-character-kdr .kdr-data,
    .vw-character-weapons .weapon-data,
    .vw-character-ivi .ivi-info {
        margin-top: 15px;
    }

.vw-character-kdr .kdr-data .label,
.vw-character-weapons .weapon-data .label,
.vw-character-ivi .ivi-data .label {
    opacity: 0.8;
    width: 120px;
    display: inline-block;
}

.vw-character-overview .label,
.vw-character-outfit .label {
  opacity: 0.8;
  width: 130px;
  display: inline-block;
}

.value {
  opacity: 1;
}
.value.positive {
    color: #388E3C;
}
.value.negative {
    color: #FF5252;
}
.ivi-data .ivi-score {
    text-align: center;
    font-size: 13px;
}

    .ivi-data .ivi-score h3 {
        margin: 3px 0;
        font-weight: 400;
    }

.info-item .title {
    width: 70px;
}

.info-item .value {
    width: 60px;
    text-align: right;
}