<div class="content-container voidwell-character-stats" *ngIf="playerData">
    <div class="stats-header flexrow">
        <div class="header-left flex">
            <span *ngIf="playerData.title" class="title">{{playerData.title}} of the</span>
            <span *ngIf="!playerData.title">Soldier of the </span>
            <span class="faction-name" [ngClass]="playerData.factionId | factionColor">{{playerData.faction}}</span>
        </div>
        <div class="header-right">
            <div class="value">{{playerData.times.lastLoginDate | date:'MMM d, y h:mm:ss a'}}</div>
            <div class="label">Last seen</div>
        </div>
    </div>
    <div class="card-row card-row-stretch">
        <mat-card class="vw-character-overview">
            <mat-card-header>
                <mat-card-title>General</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="layout-margin">
                    <div>
                        <span class="label">Created on:</span>
                        <span class="value">{{playerData.times.createdDate | date:'MMM d, y h:mm:ss a'}}</span>
                    </div>
                    <div>
                        <span class="label">Certs:</span>
                        <span class="value">{{playerData.certsEarned | number}}</span>
                    </div>
                    <div>
                        <span class="label">Medal count:</span>
                        <span class="value">{{playerData.lifetimeStats.medalCount | number}}</span>
                    </div>
                    <div>
                        <span class="label">Dominations:</span>
                        <span class="value">{{playerData.lifetimeStats.dominationCount | number}}</span>
                    </div>
                    <div>
                        <span class="label">Revenge:</span>
                        <span class="value">{{playerData.lifetimeStats.revengeCount | number}}</span>
                    </div>
                    <div>
                        <span class="label">Vehicle kills:</span>
                        <span class="value">{{playerData.lifetimeStats.vehicleKills | number}}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="vw-character-outfit" *ngIf="playerData.outfit">
            <mat-card-header>
                <mat-card-title>Outfit</mat-card-title>
            </mat-card-header>
            <mat-card-content class="layout-padding">
                <div>
                    <div [ngClass]="playerData.factionId | factionColor" class="outfit-header">
                        <a class="link-text" routerLink="/ps2/outfit/{{playerData.outfit.id}}">
                            <span *ngIf="playerData.outfit.alias">[{{playerData.outfit.alias}}]</span>
                            <span>{{playerData.outfit.name}}</span>
                        </a>
                    </div>
                    <div class="layout-margin">
                        <div>
                            <span class="label">Rank:</span>
                            <span class="value">{{playerData.outfit.rank}}</span>
                        </div>
                        <div>
                            <span class="label">Member count:</span>
                            <span class="value">{{playerData.outfit.memberCount}}</span>
                        </div>
                        <div>
                            <span class="label">Joined:</span>
                            <span class="value" title="{{playerData.outfit.memberSinceDate | date:'MMM d, y h:mm:ss a'}}">{{playerData.outfit.memberSinceDate | date:'MMM d, y h:mm:ss a':'UTC'}} UTC</span>
                        </div>
                        <div>
                            <span class="label">Created:</span>
                            <span class="value" title="{{playerData.outfit.createdDate | date:'MMM d, y h:mm:ss a'}}">{{playerData.outfit.createdDate | date:'MMM d, y h:mm:ss a':'UTC'}} UTC</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="card-row">
        <planetside-player-stats-siege-card class="siege-container" captured="{{playerData.lifetimeStats.facilityCaptureCount}}" defended="{{playerData.lifetimeStats.facilityDefendedCount}}"></planetside-player-stats-siege-card>
        <mat-card class="vw-character-kdr inline info-card">
            <mat-card-header>
                <mat-card-title>Overall KD Performance</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="kdr-data">
                    <div class="layout-margin">
                        <div>
                            <span class="label">Kill/Death ratio</span>
                            <span class="value">{{playerData.lifetimeStats.kills / playerData.lifetimeStats.deaths | number: '.2-2'}}</span>
                        </div>
                        <div>
                            <span class="label">Headshot ratio</span>
                            <span class="value">{{playerData.lifetimeStats.headshots / playerData.lifetimeStats.kills * 100 | number: '.2-2'}}%</span>
                        </div>
                        <div>
                            <span class="label">KD Spread</span>
                            <span class="value" [ngClass]="{'positive': playerData.lifetimeStats.kills - playerData.lifetimeStats.deaths > 0, 'negative': playerData.lifetimeStats.kills-playerData.lifetimeStats.deaths < 0}">
                                <span *ngIf="playerData.lifetimeStats.kills - playerData.lifetimeStats.deaths > 0">+</span>
                                <span>{{playerData.lifetimeStats.kills - playerData.lifetimeStats.deaths | number}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer>
                <div class="info-rows">
                    <div class="info-row flexrow flexalignspacearoundstretch">
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.kills | number}}</div>
                            <div class="label">Kills</div>
                        </div>
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.deaths | number}}</div>
                            <div class="label">Deaths</div>
                        </div>
                    </div>
                    <div class="info-row flexrow flexalignspacearoundstretch">
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.headshots | number}}</div>
                            <div class="label">Headshots</div>
                        </div>
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.assistCount | number}}</div>
                            <div class="label">Assists</div>
                        </div>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card class="vw-character-weapons inline info-card">
            <mat-card-header>
                <mat-card-title>Overall Weapon Performance</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="weapon-data">
                    <div class="layout-margin">
                        <div>
                            <span class="label">Accuracy:</span>
                            <span class="value">{{playerData.lifetimeStats.hitCount / playerData.lifetimeStats.fireCount * 100 | number: '.2-2'}}%</span>
                        </div>
                        <div>
                            <span class="label">Shots per kill:</span>
                            <span class="value">{{playerData.lifetimeStats.fireCount / playerData.lifetimeStats.kills | number: '.2-2'}}</span>
                        </div>
                        <div>
                            <span class="label">Landed per kill:</span>
                            <span class="value">{{playerData.lifetimeStats.hitCount / playerData.lifetimeStats.kills | number: '.2-2'}}</span>
                        </div>
                        <div>
                            <span class="label">Damage spread:</span>
                            <span class="value" [ngClass]="{'positive': playerData.lifetimeStats.damageGiven-playerData.lifetimeStats.damageTakenBy > 0, 'negative': playerData.lifetimeStats.damageGiven-playerData.lifetimeStats.damageTakenBy < 0}">
                                <span *ngIf="playerData.lifetimeStats.damageGiven-playerData.lifetimeStats.damageTakenBy > 0">+</span>
                                <span>{{playerData.lifetimeStats.damageGiven-playerData.lifetimeStats.damageTakenBy | number}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer>
                <div class="info-rows">
                    <div class="info-row flexrow flexalignspacearoundstretch">
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.fireCount | number}}</div>
                            <div class="label">Shots fired</div>
                        </div>
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.hitCount | number}}</div>
                            <div class="label">Shots hit</div>
                        </div>
                    </div>
                    <div class="info-row flexrow flexalignspacearoundstretch">
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.damageGiven | number}}</div>
                            <div class="label">Damage given</div>
                        </div>
                        <div class="info-item flex">
                            <div class="value">{{playerData.lifetimeStats.damageTakenBy | number}}</div>
                            <div class="label">Damage taken</div>
                        </div>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card class="vw-character-ivi inline info-card">
            <mat-card-header>
                <mat-card-title>Infantry vs Infantry</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="ivi-data">
                    <div class="layout-margin">
                        <div class="ivi-score">
                            <div class="value">{{playerData.infantryStats.iviScore | number}}</div>
                            <div class="label">IVI Score</div>
                        </div>
                        <div>
                            <span class="label">KDR padding:</span>
                            <span class="value">{{playerData.infantryStats.kdrPadding | number: '.2-2'}}</span>
                        </div>
                        <div>
                            <span class="label">Sanctioned kills:</span>
                            <span class="value">{{playerData.infantryStats.kills | number}}</span>
                        </div>
                        <div>
                            <span class="label">Weapons:</span>
                            <span class="value">{{playerData.infantryStats.weapons | number}} / {{playerData.infantryStats.unsanctionedWeapons | number}}</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer>
                <div class="info-rows">
                    <div class="info-row flexrow flexalignspacearoundstretch">
                        <div class="info-item flex">
                            <div class="value">{{playerData.infantryStats.accuracy * 100 | number: '.3-3'}}%</div>
                            <vw-grade [delta]="playerData.infantryStats.accuracyDelta"></vw-grade>
                            <div class="label">Accuracy</div>
                        </div>
                        <div class="info-item flex">
                            <div class="value">{{playerData.infantryStats.headshotRatio * 100 | number: '.3-3'}}%</div>
                            <vw-grade [delta]="playerData.infantryStats.headshotRatioDelta"></vw-grade>
                            <div class="label">HSR</div>
                        </div>
                    </div>
                    <div class="info-row flexrow flexalignspacearoundstretch">
                        <div class="info-item flex">
                            <div class="value">{{playerData.infantryStats.killDeathRatio | number: '.3-3'}}</div>
                            <vw-grade [delta]="playerData.infantryStats.killDeathRatioDelta"></vw-grade>
                            <div class="label">KDR</div>
                        </div>
                        <div class="info-item flex">
                            <div class="value">{{playerData.infantryStats.killsPerMinute | number: '.3-3'}}</div>
                            <vw-grade [delta]="playerData.infantryStats.killsPerMinuteDelta"></vw-grade>
                            <div class="label">KpM</div>
                        </div>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>