.main-news-container {
    padding-top: 15px;
    display: flex;
}

.news-content,
.updates-content {
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 1279px) {
    .updates-content {
        display: none;
    }
}


.main-news-container ::ng-deep img {
    max-width: 100%;
}

.news-card-list > *:not(:first-of-type) {
    margin-top: 15px;
}

.updates-content {
    width: 200px;
    margin-left: 20px;
}

.updates-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #b82601;
}

.updates-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.updates-content li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}