<mat-card>
    <mat-card-title>
        <small class="pull-right">
            <span *ngIf="isActiveEvent()">
                <vw-countdown [end]="event.endDate"></vw-countdown>
            </span>
            <span *ngIf="!isActiveEvent()">
                {{event.startDate | date:'EEE dd MMM yyyy HH:mm'}}
            </span>
        </small>
        <h4>{{event.name}}</h4>
    </mat-card-title>
    <mat-card-subtitle>
        {{event.description}}
    </mat-card-subtitle>
    <a mat-button routerLink="{{event.id}}" class="event-link">
        <mat-icon fontSet="mdi" fontIcon="mdi-chevron-right"></mat-icon>
    </a>
</mat-card>