.world-list {
    min-height: 100px;
}

.world-button {
    margin: 5px;
}

.world-state {
    color: #b60d0d;
    margin-right: 3px;
}

.world-state .online {
    color: #1b8f2f;
}

.world-name {
    width: 7em;
    text-align: left;
}

.world-state,
.world-name,
.online-players,
.world-zones,
.world-zone {
    display: inline-block;
}

.world-button,
.world-state,
.online-players {
    font-size: 1.5em;
    vertical-align: middle;
}

.online-players {
    width: 4em;
}

.online-players .mat-icon {
    margin-right: 5px;
}

.world-zones {
    margin-left: 25px;
}

.world-zone {
    margin-right: 10px;
}

.world-zone .zone-offline {
    color: #b60d0d;
}

.world-zone-button {
    width: 112px;
}